<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.backend_mini.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.korit.backend_mini.entity.User">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="username" column="username"/>
        <result property="profileImg" column="profile_img"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
        <result property="status" column="status"/>
        <result property="withdrawDt" column="withdraw_dt"/>
        <result property="deleteDt" column="delete_dt"/>
        <collection property="userRoles" resultMap="UserRoleResultMap"/>
    </resultMap>

    <resultMap id="UserRoleResultMap" type="com.korit.backend_mini.entity.UserRole">
        <id property="userRoleId" column="user_role_id"/>
        <result property="userId" column="urt_user_id"/>
        <result property="roleId" column="urt_role_id"/>
        <result property="createDt" column="urt_create_dt"/>
        <result property="updateDt" column="urt_update_dt"/>
        <association property="role" resultMap="RoleResultMap"/>
    </resultMap>

    <resultMap id="RoleResultMap" type="com.korit.backend_mini.entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleNameKor" column="role_name_kor"/>
    </resultMap>

    <select id="getUserByUserId" resultMap="UserResultMap">
        select
            ut.*,

            urt.user_role_id,
            urt.user_id as urt_user_id,
            urt.role_id as urt_role_id,
            urt.create_dt as urt_create_dt,
            urt.update_dt as urt_update_dt,

            rt.*
        from
            user_tb ut
            join user_role_tb urt on (ut.user_id = urt.user_id)
            join role_tb rt on (urt.role_id = rt.role_id)
        where
            ut.user_id = #{userId};
    </select>

    <select id="getUserByEmail" resultMap="UserResultMap">
        select
            ut.*,

            urt.user_role_id,
            urt.user_id as urt_user_id,
            urt.role_id as urt_role_id,
            urt.create_dt as urt_create_dt,
            urt.update_dt as urt_update_dt,

            rt.*
        from
            user_tb ut
            join user_role_tb urt on (ut.user_id = urt.user_id)
            join role_tb rt on (urt.role_id = rt.role_id)
        where
            ut.email = #{email};
    </select>

    <select id="getUserByUsername" resultMap="UserResultMap">
        select
            ut.*,

            urt.user_role_id,
            urt.user_id as urt_user_id,
            urt.role_id as urt_role_id,
            urt.create_dt as urt_create_dt,
            urt.update_dt as urt_update_dt,

            rt.*
        from
            user_tb ut
            join user_role_tb urt on (ut.user_id = urt.user_id)
            join role_tb rt on (urt.role_id = rt.role_id)
        where
        ut.username = #{username};
    </select>

    <select id="getUserList" resultMap="UserResultMap">
        select
            ut.*,

            urt.user_role_id,
            urt.user_id as urt_user_id,
            urt.role_id as urt_role_id,
            urt.create_dt as urt_create_dt,
            urt.update_dt as urt_update_dt,

            rt.*
        from
            user_tb ut
            join user_role_tb urt on (ut.user_id = urt.user_id)
            join role_tb rt on (urt.role_id = rt.role_id)
        where
            urt.role_id = 2 or urt.role_id = 3;
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId">
        insert into
            user_tb
        values
            (0, #{email}, #{password}, #{username}, null, now(), null, "ACTIVE", null, null);
    </insert>

    <update id="changePassword">
        update
            user_tb
        set
            password = #{password},
            update_dt = now()
        where
            user_id = #{userId};
    </update>

    <update id="changeUsername">
        update
            user_tb
        set
            username = #{username},
            update_dt = now()
        where
            user_id = #{userId};
    </update>

    <update id="changeProfileImg">
        update
            user_tb
        set
            profile_img = #{profileImg},
            update_dt = now()
        where
            user_id = #{userId};
    </update>

    <update id="withdraw">
        update
            user_tb
        set
            status = "INACTIVE",
            withdraw_dt = now(),
            delete_dt = DATE_ADD(now(), INTERVAL 90 DAY)
        where
            user_id = #{userId};
    </update>

    <delete id="deleteUser">
        delete from
            user_tb
        where
            status = "INACTIVE"
            and delete_dt <![CDATA[<=]]> now();
    </delete>
</mapper>

















